/*
GENERAL
*/
* {
  box-sizing: border-box;
  color: #5ca4d6;
}

.border{
  border: solid 2px #5ca4d6;
}

ul{
  list-style: none;
  padding-left: 0;
}

/*
SHIRT MENU
*/

.shirt-shop li{
  float:left;
  margin:30px;
  position: relative;
}

.shirt-viewer {
  perspective: 800px;
}

.shirt-viewer {
  float: left;
  padding-left: 0;
  margin: 0;
}

.shirt-box {
  border: solid 2px #5ca4d6;
  width: 262px;
  height: 254px;
  margin: -1px;
  padding: 0px;
}

.shirt {
  border: none;
  width: 262px;
  height: 254px;
  margin: -1px;
  padding: 0px;
  position: relative;
/*animation code*/
  transform-style: preserve-3d;
  transition: transform 1s;
}

.shirtfront, .shirtback {
  width: inherit;
  height: inherit;
  position: absolute;
/*animation code*/
  transform-style: preserve-3d;
  transition: .6s;
  backface-visibility: hidden;
}

.shirtfront {
  /*z-index: 2;*/
  transform: rotateY(0deg);
}

.shirtback {
  transform: rotateY(180deg);
}

#blueshirt .shirtfront {
  background: url('images/blue-front.png') center / 84% no-repeat;
}

#blueshirt .shirtback {
  background: url('images/blue-back.png') center / 84% no-repeat;
}

#pinkshirt .shirtfront {
  background: url('images/pink-front.png') center / 84% no-repeat;
}

#pinkshirt .shirtback {
  background: url('images/pink-back.png') center / 84% no-repeat;
}

#yellowshirt .shirtfront {
  background: url('images/yellow-front.png') center / 84% no-repeat;
}

#yellowshirt .shirtback {
  background: url('images/yellow-back.png') center / 84% no-repeat;
}

.flip:active ~ .shirt-box .shirt {
  transform: rotateY(180deg);
}

/*
FLIP BUTTON
*/

.flip {
  display: inline;
  border: solid 2px #5ca4d6;
  height: 23px;
  width: 23px;
  position: absolute;
  margin:-1px;
  right: 0;
  z-index: 1;
}

.flip span {
  margin: 9% 17%;
  color: #5ca4d6;
}

/*FLIP ANIMATIONS*/

.flip:hover {
  background: #5ca4d6;
  color: white;
}

.flip:hover span {
  color: white;
  cursor: pointer;
}

.flip:active {
  background: white;
}

.flip:active span {
  color: #5ca4d6;
}

/*
MENU
*/

.menu ul li {
  border: solid 2px #5ca4d6;
  color: #5ca4d6;
  margin: -1px;
  width: 54px;
  height: 40px;
}

.refresh span{
  margin: 20% 37%;
}

.favorite span{
  margin: 20% 34%;
}

.size span {
  display: block;
  font-family: helvetica;
  font-weight: bold;
  margin:19% 32%;
}

.color span {
  /*transform: scale(1.2);*/
  position: absolute;
  top: 8px;
  left: 15px;
  border: solid thin white;
  box-sizing: content-box;
  padding: 0;
  line-height: 1;
  border-width: 2px;
}

#bluecolor {
  color: #72bbe9;
}

#pinkcolor {
  color: #e577aa;
}

#yellowcolor {
  color: #e3b076;
}

#greencolor {
  color: #78adc3;
}

.cart span {
  transform: scale(1.2);
  margin:17% 35%;
}

/*menu animation*/

.menu ul li:hover {
  background: #5ca4d6;
  cursor: pointer;
}

.menu ul li:active {
  background: none;
  color: #78adc3
}

.refresh:hover span,
.favorite:hover span,
.size:hover .size-default,
.cart:hover span {
  color: white;
}

.refresh:active span,
.favorite:active span,
.size:active .size-default,
.cart:active span {
  color: #78adc3;
}


/*.size .sub-menu :hover span {
  color: white;
}*/

/*
SUBMENU
*/

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 12.5px 0 12.5px;
  border-color: #5ca4d6 transparent transparent transparent;
  position: absolute;
  bottom: -10px;
  left: 24px;
}

.triangle-inset{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 9.5px 0 9.5px;
  border-color: white transparent transparent transparent;
  position: absolute;
  bottom: 3px;
  left: -9px;
}

.sub-menu {
  background: white;
  border: solid;
  border-width: 2px;
  width: 74px;
}
/*
SIZE SUBMENU
*/
.size .sub-menu {
  position:absolute;
  bottom: 60px;
  left: -11px;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease;
}

.size .sub-menu ul li {
  border: none;
  width: 72px;
  font-size: 20px;
}

.size ul li span {
  color: #5ca4d6;
  margin:0;
  float: left;
  position: absolute;
}

.size .sub-menu .size-label {
  font-size: 8px;
  position: absolute;
  text-transform: uppercase;
  top:6px;
  left: 11px;
}

.size .extra-large {
  transform: scale(1.8);
  position: absolute;
  top: 3px;
  left: 11px;
}

.size .extra-large .size-label {
  position: absolute;
  left:9;
}

.size .large {
  transform: scale(1.5);
  position: absolute;
  top: 8px;
  left: 15px;
}

.size .medium {
  transform: scale(1.2);
  position: absolute;
  top: 8px;
  left: 19px;
}

.size .small {
  transform: scale(.9);
  position: absolute;
  top: 6px;
  left: 23px;
}

/*SIZE SUB-MENU ANIMATION*/
.sub-menu li:hover i,
.sub-menu li:hover span {
  color: white;
}

.sub-menu li:active i,
.sub-menu li:active span {
  color: #5ca4d6;
}

/*.sub-menu li:active {
  background:none;
}*/

.size:hover .sub-menu {
  bottom: 36px;
  opacity: 1;
  visibility: visible;
}

/*
COLOR SUBMENU
*/
.color .sub-menu {
  position:absolute;
  bottom: 60px;
  left: -13px;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease;
}

.color .sub-menu span {
  transform: scale(1.7);
  position: absolute;
  top: 9px;
  left: 9px;
}

.color .sub-menu ul li {
  border: none;
  width: 37px;
}

/*COLOR MENU ANIMATION*/

.color:hover .sub-menu {
  bottom: 36px;
  opacity: 1;
  visibility: visible;
}

/*
FOOTER
*/

.footer{
  font-family: helvetica;
  font-weight: lighter;
  line-height: 33px;
  font-size: 20px;
  color: #5ca4d6;
  margin: 0 10px;
}

.shirt-name {
  float: left;
}

.price {
  float: right;
}
