/*
GENERAL
*/
* {
  box-sizing: border-box;
  color: #5ca4d6;
}

body {
  width: 100vw;
  height: 100vh;
}

.border {
  border: solid 2px #5ca4d6;
}

ul {
  list-style: none;
  padding: 0;
}

/*
SHIRT MENU
*/

main {width: 100vw;}

.shirt-shop {
  float: right;
  width: 94%;
}

.shirt-shop li {
  float: left;
  position: relative;
}

.shirt-viewer {
  padding-left: 0;
  perspective: 800px;
  transform: scale(1);
  width: 15vw;
  height: 18vw;
  margin: 0 3vw 7vw 3vw;
}

.shirt-box {
  border: solid 2px #5ca4d6;
  width: 100%;
  height: 100%;
}

.shirt {
  border: none;
  width: 100%;
  height: 100%;
  margin: -1px;
  padding: 0px;
  position: relative;
/*animation code*/
  transform-style: preserve-3d;
  transition: transform 1s;
}

.shirtfront, .shirtback {
  width: inherit;
  height: inherit;
  position: absolute;
/*animation code*/
  transform-style: preserve-3d;
  transition: .6s;
  backface-visibility: hidden;
}

.shirtfront {
  /*z-index: 2;*/
  transform: rotateY(0deg);
}

.shirtback {
  transform: rotateY(180deg);
}

.shirt-viewer.blueshirt .shirtfront {
  background: url('images/blue-front.png') center / 84% no-repeat;
}

.shirt-viewer.blueshirt .shirtback {
  background: url('images/blue-back.png') center / 84% no-repeat;
}

.shirt-viewer.pinkshirt .shirtfront {
  background: url('images/pink-front.png') center / 84% no-repeat;
}

.shirt-viewer.pinkshirt .shirtback {
  background: url('images/pink-back.png') center / 84% no-repeat;
}

.shirt-viewer.yellowshirt .shirtfront {
  background: url('images/yellow-front.png') center / 84% no-repeat;
}

.shirt-viewer.yellowshirt .shirtback {
  background: url('images/yellow-back.png') center / 84% no-repeat;
}

.flip:active ~ .shirt-box .shirt {
  transform: rotateY(180deg);
}

/*
FLIP BUTTON
*/

.flip {
  display: inline;
  border: solid 2px #5ca4d6;
  height: 23px;
  width: 23px;
  position: absolute;
  margin: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  line-height: 1.3;
}

.flip span {
  /*margin: 9% 17%;
  color: #5ca4d6;*/
}

/*FLIP ANIMATIONS*/

.flip:hover {
  background: #5ca4d6;
  color: none;
}

.flip:hover span {
  color: none;
  cursor: pointer;
}

.flip:active {
  background: none;
}

.flip:active span {
  color: #5ca4d6;
}

/*
MENU
*/

.menu {
}
.menu ul li {
  border: solid 2px #5ca4d6;
  color: #5ca4d6;
  margin: -2px 0;
  width: 20%;
  height: 40px;
  text-align: center;
  line-height: 2.3;
  border-left: solid 1px #5ca4d6;
  border-right: solid 1px #5ca4d6;
  /* margin-left: -1px; */
  /* margin-right: 1px; */
}

.menu ul li:first-child {
  border-left: solid 2px #5ca4d6;
}

.menu ul li:last-child {
  border-right: solid 2px #5ca4d6;
}

/*.refresh span{
  margin: 20% 37%;
}

.favorite span{
  margin: 20% 34%;
}*/

.size span {
  display: block;
  font-family: helvetica;
  font-weight: bold;
  /*margin:19% 32%;*/
}

.color span {
  background: white;
  border: thin white solid;
  line-height: 1;
  border-width: 2px;
  font-size: 15px;
}

.bluecolor,
.shirt-viewer.blueshirt .default-color,
.shirt-viewer.blueshirt .color:hover .default-color {
  color: #72bbe9;
}

.pinkcolor,
.shirt-viewer.pinkshirt .default-color,
.shirt-viewer.pinkshirt .color:hover .default-color {
  color: #e577aa;
}

.yellowcolor,
.shirt-viewer.yellowshirt .default-color,
.shirt-viewer.yellowshirt .color:hover .default-color {
  color: #e3b076;
}

.greencolor,
.shirt-viewer.greenshirt .default-color,
.shirt-viewer.greenshirt .color:hover .default-color {
  color: #78adc3;
}

.cart span {
  transform: scale(1.2);
  /*margin:17% 35%;*/
}

/*menu animation*/

.menu ul li:hover {
  background: #5ca4d6;
  cursor: pointer;
}

.menu ul li:active {
  background: none;
  color: #78adc3
}

.refresh:hover span,
.favorite:hover span,
.size:hover .size-default,
.cart:hover span {
  color: white;
}

.refresh:active span,
.favorite:active span,
.size:active .size-default,
.cart:active span {
  color: #78adc3;
}

/*.size .sub-menu :hover span {
  color: white;
}*/

/*
SUBMENU
*/

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 12.5px 0 12.5px;
  border-color: #5ca4d6 transparent transparent transparent;
  position: absolute;
  bottom: -10px;
  padding-50%: 24px;
  margin: 0 33%;
}

.triangle-inset{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 9.5px 0 9.5px;
  border-color: white transparent transparent transparent;
  position: absolute;
  bottom: 3px;
  left: -9px;
}

.sub-menu {
  background: white;
  border: solid;
  border-width: 2px;
  width: 200%;
}
/*
SIZE SUBMENU
*/
.size .sub-menu {
  position:absolute;
  bottom: 60px;
  margin-left: -46%;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease;
}

.size .sub-menu ul li {
  border: none;
  width: 100%;
  font-size: 20px;
}

.size ul li span {
  color: #5ca4d6;
  margin:0;
  position: absolute;
  bottom: -3px;
}

.size .sub-menu .size-label {
  font-size: 8px;
  position: absolute;
  text-transform: uppercase;
  top: 14px;
  left: 11px;
}

.size .extra-large {
  transform: scale(1.8);
  position: absolute;
  top: 3px;
  margin: 0px 14%;
}

.size .extra-large .size-label {
  position: absolute;
  left:9px;
}

.size .large {
  transform: scale(1.5);
  position: absolute;
  top: 8px;
  margin: 0px 20%;
}

.size .medium {
  transform: scale(1.2);
  position: absolute;
  top: 8px;
  margin: 0px 26%;
}

.size .small {
  transform: scale(.9);
  position: absolute;
  top: 6px;
  margin: 0 32%;
}

/*SIZE SUB-MENU ANIMATION*/
.size .sub-menu li:hover span {
  color: white
  /*z-index: 0;*/
}

.size .sub-menu li:active span {
  color: #5ca4d6;
}

/*.sub-menu li:active {
  background:none;
}*/

.size:hover .sub-menu {
  bottom: 36px;
  opacity: 1;
  visibility: visible;
}

/*
COLOR SUBMENU
*/
.color .sub-menu {
  position:absolute;
  bottom: 60px;
  margin: 0 -51%;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease;
}

.color .sub-menu span {
  font-size: 17px;
  line-height: initial;
}

.color .sub-menu ul li {
  border: none;
  width: 100%;
}

/*COLOR MENU ANIMATION*/

.color:hover .sub-menu {
  bottom: 36px;
  opacity: 1;
  visibility: visible;
}

/*.color .sub-menu li:hover {
  background: none;
}*/

/*
FOOTER
*/

.footer{
  font-family: helvetica;
  font-weight: lighter;
  line-height: 25px;
  font-size: 15px;
  color: #5ca4d6;
  margin: 0 3px;
}

.shirt-name {
  float: left;
}

.price {
  float: right;
  font-weight: bolder;
}

/*
MOBILE BREAKPOINTS
*/

@media only screen and (max-width: 1000px) {
  .shirt-viewer {
      width: 20vw;
      height: 24vw;
      margin-bottom: 10vw;
  }

}

@media only screen and (max-width: 700px) {
  .shirt-viewer {
      width: 28vw;
      height: 36vw;
      margin-bottom: 15vw;
    }

}

@media only screen and (max-width: 500px) {
  .shirt-viewer {
    width: 70vw;
    height: 85vw;
    margin-bottom: 30vw;
  }
}
